.btns {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	padding: 10px;
	border-bottom: 1px solid var(--blue-color);
	margin-bottom: 20px;
}

.btn {
	background-color: transparent;
	letter-spacing: -0.32px;
	text-decoration-line: underline;
	color: var(--gray-color);
	outline: none;
	border: none;
}

.btn_active {
	color: var(--white-color);
}
