.profile {
	max-width: 400px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	margin: 0 auto 30px;
	border-radius: 16px;
	padding: 10px;
}

.firstItem {
	max-width: 86px;
}

.avatar {
	margin-bottom: 6px;
}

.middleItem {
	padding: 0 23px;
	position: relative;
}

.middleItem::before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 1px;
	height: 35px;
	background-color: #ffffff33;
}

.middleItem::after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 1px;
	height: 35px;
	background-color: #ffffff33;
}
