.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	position: absolute;
	bottom: 15px;
	left: 0;
	right: 0;
}

.pagination_item {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 2;
	border-radius: 13px;
	cursor: pointer;
}

.pagination_item-circle {
	width: 8px;
	height: 8px;
	background-color: var(--blue-color);
	border-radius: 13px;
	transition: all 0.3s;
}

.pagination_item-active {
	height: 16px;
	width: 16px;

	background: linear-gradient(
		180deg,
		rgba(99, 115, 249, 0.6) 0%,
		rgba(76, 73, 239, 0.6) 100%
	);
}

.pagination_item-active .pagination_item-circle {
	background-color: var(--white-color);
}
