.modal {
	--transition-time: 0.3s;

	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: center;
	transition: all var(--transition-time);

	&::before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}
}

.box {
	position: relative;
	max-width: 337px;
	width: 100%;
	margin: 50px auto;
	display: inline-block;
	vertical-align: middle;
	background-color: var(--bg-dark-color);
	padding: 16px;
	border-radius: 16px;
	cursor: default;
	text-align: left;
}
