.title {
	margin-bottom: 10px;
}

.text {
	text-align: center;
	margin-bottom: 20px;
}

.item {
	margin-bottom: 6px;
}

.item_row {
	display: flex;
	align-items: center;
	gap: 10px;
}

.item_text {
	max-width: 237px;
}

.item_info {
	color: var(--gray-color);
}

.text-list {
	margin: 14px 0 10px;
}

.users {
	margin-bottom: 42px;
}

.notFound {
	padding: 16px;
	color: var(--blue-color);
}

.user {
	justify-content: start;
	gap: 10px;
}

.user_text {
	color: var(--gray-color);
}

.actions {
	display: flex;
	gap: 10px;
	justify-content: space-between;
	margin-bottom: 10px;
	margin-top: auto;
}

.actions_invite {
	width: 100%;
}
