.airdrop {
	padding-bottom: 25%;
	position: relative;
}

.airdrop_bg {
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

.title {
	margin-bottom: 20px;
}

.btn {
	width: 100%;
	margin-bottom: 10px;
}

.text {
	color: var(--gray-color);
	margin-bottom: 10px;
}

.ul {
	list-style: circle;
	padding-left: 17px;
}
