.navbar {
	padding: 10px 20px;
	gap: 6px;
	border-radius: 20px;
}

.item {
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 58px;
	border-radius: 10px;
	position: relative;
}

.main_item {
	width: 73px;
	justify-content: end;
}

.main_item_border {
	width: 58px;
	height: 58px;
	overflow: hidden;
	background-color: var(--bg-color);
	border-radius: 58px;
	border: 2px solid var(--gray-color);
	position: absolute;
	top: -55%;
	z-index: 5;
}

.main_item_img {
	width: 53px;
	height: 74px;
}

svg {
	width: 24px;
	height: 24px;
	margin-bottom: 2px;
}

svg path {
	fill: var(--gray-color);
}

.text {
	line-height: 19.2px;
	font-size: 12px;
	color: var(--gray-color);
}

.item-active {
	background: linear-gradient(180deg, #6373f9 0%, #4c49ef 100%);
}

.item-active .text {
	color: var(--white-color);
}

.item-active svg path,
.item-active svg rect {
	fill: var(--white-color);
}
