.title {
	margin-bottom: 20px;
}

.text {
	text-align: center;
	margin-bottom: 30px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	margin-bottom: 30px;
}

.item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	background-color: var(--bg-dark-color);
	padding: 10px;
	border-radius: 16px;
}

.received {
	background-color: transparent;
	background: linear-gradient(
		180deg,
		rgba(97, 111, 248, 0) 0%,
		rgba(97, 112, 249, 0.4) 100%
	);
}

.current {
	box-shadow: 0px 5px 12px 0px rgba(98, 113, 248, 0.39),
		0px 22px 22px 0px rgba(98, 113, 248, 0.34),
		0px 49px 29px 0px rgba(98, 113, 248, 0.2),
		0px 87px 35px 0px rgba(98, 113, 248, 0.06),
		0px 136px 38px 0px rgba(98, 113, 248, 0.01);
}

.received .status {
	color: rgba(255, 255, 255, 0.5);
}

.disabled {
	opacity: 0.5;
}

.day {
	line-height: 17.6px;
}

.status {
	font-weight: 700;
}
