.profit_title {
	font-size: 12px;
	letter-spacing: -0.408px;
	margin-bottom: 6px;
	color: #ffffffb2;
	text-align: center;
}

.profit_row {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.profit_icon {
	width: 16px;
	height: 16px;
}

.profit_question {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 16px;
	height: 16px;
	font-size: 12px;
	line-height: 14.4px;
	border-radius: 100px;
	padding: 1px;
	background-color: #bcbdc866;
	color: #252654;
	outline: none;
	border: none;
	cursor: pointer;
}
